*{

    margin: 0;
    padding: 0;

}

body{

    display:flex;
    justify-content: center;

    align-items: center;

    height:100vh;

    background-color: black;

}

.container{

    background-color: aliceblue;
    padding: 2rem;

    border-radius:10px;

    min-height: 40vh;

    width:50vw;
}


form{

    margin: 2rem 0rem 2rem 0rem;
}

form select,button,input{

    width:100%;
    border:none;

    outline: none;
}

form input{
    height:3rem;
    border:2px solid grey;
    font-size: 1rem;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

.dropdown{

    display: flex;

    justify-content: center;

    align-items: center;

    gap:3rem;

    margin-top:2rem;

    margin-bottom:2rem;
}

img{

    max-width:2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0.5rem ;
    width:6rem;

    border:2px solid lightgrey;
    -webkit-border-radius:0.5rem ;
    -moz-border-radius:0.5rem ;
    -ms-border-radius:0.5rem ;
    -o-border-radius:0.5rem ;
}


.msg{
    text-align: center;

    color:white;

    background-color: rgb(49, 47, 47);

    margin-bottom:3rem;

    min-height:2rem;

    border:2px solid black
}

button{

    height:3rem;

    font-size: 1.5rem;
    cursor:pointer;
    background-color: blueviolet;
}